<div id="wrapper">
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.baseurl }}/">HRCM</a>
                </div> <!--navbar header-->

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="" id="dropdown-menu-home"><a href="{{ site.baseurl }}/">Home</a></li>
                        <li class="" id="about"><a href="{{ site.baseurl }}/about/">About</a></li>
                        <li class="" id="people"><a href="{{ site.baseurl }}/people/">People</a></li>
                        <li class="dropdown" id="research"><a href="{{ site.baseurl }}/research/" class="dropdown-toggle disabled" data-toggle="dropdown">Research<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu" id="research-projects"><a href="{{ site.baseurl }}/research/projects/">Projects</a>
                                    <ul class="dropdown-menu">
                                        <li class="" id="research-projects-cssp-china"><a href="{{ site.baseurl }}/research/projects/cssp-china/">CSSP-China</a></li>
                                        <li class="" id="research-projects-higem"><a href="{{ site.baseurl }}/research/projects/higem/">HiGEM</a></li>
                                        <li class="" id="research-projects-jwcrp"><a href="{{ site.baseurl }}/research/projects/jwcrp/">JWCRP</a></li>
                                        <li class="" id="research-projects-primavera"><a href="{{ site.baseurl }}/research/projects/primavera/">PRIMAVERA</a></li>
                                        <li class="" id="research-projects-ujcc"><a href="{{ site.baseurl }}/research/projects/ujcc/">UJCC</a></li>
                                        <li class="" id="research-projects-upscale"><a href="{{ site.baseurl }}/research/projects/upscale/">UPSCALE</a></li>
                                        <li class="" id="research-projects-us-clivar"><a href="{{ site.baseurl }}/research/projects/us-clivar/">U.S. CLIVAR</a></li>
                                        <li class="" id="research-projects-vocals"><a href="{{ site.baseurl }}/research/projects/vocals/">VOCALS</a></li>
                                        <li class="" id="research-projects-wisc"><a href="{{ site.baseurl }}/research/projects/wisc/">WISC</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu" id="research-research-themes"><a href="{{ site.baseurl }}/research/research-themes/">Research themes</a>
                                    <ul class="dropdown-menu">
                                        <li class="" id="research-research-themes-atmosphere-ocean-interactions"><a href="{{ site.baseurl }}/research/research-themes/atmosphere-ocean-interactions/">Atmosphere-ocean interactions</a></li>
                                        <li class="" id="research-research-themes-dust-and-radiation"><a href="{{ site.baseurl }}/research/research-themes/dust-and-radiation/">Dust and radiation</a></li>
                                        <li class="" id="research-research-themes-enso"><a href="{{ site.baseurl }}/research/research-themes/enso/">El Niño</a></li>
                                        <li class="" id="research-research-themes-extratropical-storms"><a href="{{ site.baseurl }}/research/research-themes/extratropical-storms/">Extratropical storms</a></li>
                                        <li class="" id="research-research-themes-extremes-and-catastrophe-modelling"><a href="{{ site.baseurl }}/research/research-themes/extremes-and-catastrophe-modelling/">Extremes and catastrophe modelling</a></li>
                                        <li class="" id="research-research-themes-hydrological-cycle"><a href="{{ site.baseurl }}/research/research-themes/hydrological-cycle/">Hydrological cycle</a></li>
                                        <li class="" id="research-research-themes-land-surface-processes"><a href="{{ site.baseurl }}/research/research-themes/land-surface-processes/">Land surface processes</a></li>
                                        <li class="" id="research-research-themes-tropical-cyclones"><a href="{{ site.baseurl }}/research/research-themes/tropical-cyclones/">Tropical cyclones</a></li>
                                        <li class="" id="research-research-themes-tropical-instability-waves"><a href="{{ site.baseurl }}/research/research-themes/tropical-instability-waves/">Tropical instability waves</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu" id="research-cmip6-highresmip"><a href="{{ site.baseurl }}/research/cmip6-highresmip/">CMIP6 HighResMIP</a>
                                    <ul class="dropdown-menu">
                                        <li class="" id="research-cmip6-highresmip-cmip6-highresmip-publications"><a href="{{ site.baseurl }}/research/cmip6-highresmip/cmip6-highresmip-publications/">CMIP6 HighResMIP publications</a></li>
                                        <li class="dropdown-submenu" id="research-cmip6-highresmip-highresmip-protocol"><a href="{{ site.baseurl }}/research/cmip6-highresmip/highresmip-protocol/">HighResMIP protocol</a>
                                            <ul class="dropdown-menu">
                                                <li class="" id="research-cmip6-highresmip-highresmip-protocol-sst-and-sea-ice-forcing"><a href="{{ site.baseurl }}/research/cmip6-highresmip/highresmip-protocol/sst-and-sea-ice-forcing/">HighResMIP SST and sea-ice forcing</a></li>
                                            </ul>
                                        </li>
                                        <li class="" id="research-cmip6-highresmip-tropical-cyclones"><a href="{{ site.baseurl }}/research/cmip6-highresmip/tropical-cyclones/">Tropical cyclones</a></li>
                                        <li class="" id="research-cmip6-highresmip-clivar"><a href="{{ site.baseurl }}/research/cmip6-highresmip/clivar/">CLIVAR–PRIMAVERA</a></li>
                                        <li class="" id="research-cmip6-highresmip-highresmip2"><a href="{{ site.baseurl }}/research/cmip6-highresmip/highresmip2/">HighResMIP2</a></li>
                                        <li class="" id="research-cmip6-highresmip-highresmip-analyses"><a href="{{ site.baseurl }}/research/cmip6-highresmip/highresmip-analyses/">HighResMIP analyses</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="" id="publications"><a href="{{ site.baseurl }}/publications/">Publications</a></li>
                        <li class="" id="data"><a href="{{ site.baseurl }}/data/">Data</a></li>
                        <li class="dropdown" id="blog"><a href="{{ site.baseurl }}/blog/" class="dropdown-toggle disabled" data-toggle="dropdown">Media<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="" id="blog-data-visualisations"><a href="{{ site.baseurl }}/blog/data-visualisations/">Data visualisation gallery</a></li>
                                <li class="" id="blog-ncas-science-highlights"><a href="{{ site.baseurl }}/blog/ncas-science-highlights/">NCAS Science Highlights</a></li>
                                <li class="" id="blog-press-releases"><a href="{{ site.baseurl }}/blog/press-releases/">Recent press releases</a></li>
                                <li class="" id="blog-research-blog"><a href="{{ site.baseurl }}/blog/research-blog/">Research blog</a></li>
                                <li class="" id="blog-web-links"><a href="{{ site.baseurl }}/blog/web-links/">Web links</a></li>
                            </ul>
                        </li>
                        <!--<li class="" id="contact"><a href="{{ site.baseurl }}/contact/">Contact</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div><!--wrapper-->
