---
layout: base_hrcm
---

<body>
    <section id="featured">

        <div class="col-md-none ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4><strong>HIGH RESOLUTION CLIMATE MODELLING</strong></h4>
                        <p><strong>A research collaboration between the UK's Met Office and National Centre for
                                Atmospheric Science</strong></p>
                    </div>
                    <div class="col-lg-12">
                        <p style="background-color:red;"><strong>WEBSITE UNDERGOING UPDATES...</strong></p>
                    </div>
                </div>
            </div>

            <!-- start slider -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Slider -->
                        <div id="main-slider" class="flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="{{ site.baseurl }}/assets/media/uploads/Figures/n1280_2005010101.png"
                                        alt="" width="950" height="600" />
                                    <div class="flex-caption">
                                        <h3>HIGH-RESOLUTION GLOBAL CLIMATE</h3>
                                        <p>Sea ice, clouds and precipitation simulated by a 10-km atmospheric model</p>
                                        <a href="{{ site.baseurl }}/blog/plot-of-the-month-mar-2019-10km-global-modelling/"
                                            class="btn btn-theme">Learn More</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ site.baseurl }}/assets/media/uploads/Figures/hurricane_multilev_219250-1024x591.png"
                                        alt="" width="950" height="600" />
                                    <div class="flex-caption">
                                        <h3>ATLANTIC TROPICAL CYCLONES</h3>
                                        <p>Tropical cyclone development and extratropical transition simulated by a
                                            25-km atmospheric model</p>
                                        <a href="{{ site.baseurl }}/blog/plot-of-the-month-apr-2017-atlantic-tropical-cyclones/"
                                            class="btn btn-theme">Learn More</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ site.baseurl }}/assets/media/uploads/Figures/model_ensemble_hr-lr_total_precip_annual.jpg"
                                        alt="" width="950" height="600" />
                                    <div class="flex-caption">
                                        <h3>GLOBAL HIGH-RESOLUTION RAINFALL</h3>
                                        <p>Multi-model agreement on the sign of precipitation change resulting from
                                            increasing model atmospheric resolution</p>
                                        <a href="/blog/plot-of-the-month-jul-2017-high-resolution-global-precipitation/"
                                            class="btn btn-theme">Learn More</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ site.baseurl }}/assets/media/uploads/Figures/upscale_n512_mov_still.png"
                                        alt="" width="950" height="600" />
                                    <div class="flex-caption">
                                        <h3>HIGH-RESOLUTION GLOBAL CLIMATE</h3>
                                        <p>Sea surface temperature, clouds and precipitation simulated by a 25-km
                                            atmospheric model</p>
                                        <a href="{{ site.baseurl }}/blog/plot-of-the-month-november-2016/"
                                            class="btn btn-theme">Learn More</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="{{ site.baseurl }}/assets/media/uploads/Figures/storm.png"
                                        alt="" width="950" height="600" />
                                    <div class="flex-caption">
                                        <h3>STORMS SIMULATED AT 25KM</h3>
                                        <p>Extratropical cyclone winds and precipitation simulated by a 25-km
                                            atmospheric model</p>
                                        <a href="{{ site.baseurl }}/blog/plot-of-the-month-nov-2017-extratropical-storm-in-a-25km-model/"
                                            class="btn btn-theme">Learn More</a>
                                    </div>
                                </li>
                                <!--                               <li>
                                          <img src="/hrcm/assets/media/uploads/Figures/ajb_mu_eobs_djf.png" alt="" width="950" height="600" />
                                          <div class="flex-caption">
                                             <h3>EUROPEAN EXTREME WINTER RAINFALL</h3>
                                             <p>Typical extreme winter precipitation events over large European river basins computed from observations 1950-2014</p>
                                             <a href="/blog/plot-of-the-month-jan-2017-european-extreme-precipitation/" class="btn btn-theme">Learn More</a>
                                          </div>
                                       </li>
                                       <li>
                                          <img src="/hrcm/assets/media/uploads/Homepage_images/vellinga_2016_grl_fig3.png" alt="" width="950" height="600" />
                                          <div class="flex-caption">
                                             <h3>SAHEL RAINFALL</h3>
                                             <p>Increasing resolution allows better coupling between large-scale atmospheric circulation and Sahel rainfall processes</p>
                                             <a href="http://onlinelibrary.wiley.com/doi/10.1002/2015GL066690/full" class="btn btn-theme">Learn More</a>
                                          </div>
                                       </li>-->
                                <!--                               <li>
                                          <img src="/hrcm/assets/media/uploads/Homepage_images/demory_trenberth_2014.jpg" alt="" width="950" height="600" />
                                          <div class="flex-caption">
                                             <h3>GLOBAL ENERGY BUDGET</h3>
                                             <p>HadGEM1-A and HadGEM3-A simulations at various horizontal resolutions</p>
                                             <a href="http://link.springer.com/article/10.1007/s00382-013-1924-4" class="btn btn-theme">Learn More</a>
                                          </div>
                                       </li>-->
                            </ul>
                        </div>
                        <!-- end slider -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2><span>High Resolution Climate Modelling</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio Projects -->
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="heading">Recent research</h4>
                    <div class="row">
                        <section id="projects">
                            <ul class="portfolio" id="thumbs">
                                <!-- Item Project and Filter Name -->
                                <li data-type="icon" data-id="id-0" class="item-thumbs col-lg-3 design">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a href="{{ site.baseurl }}/assets/media/uploads/Figures/model_ensemble_hr-lr_total_precip_annual.jpg"
                                        title="GLOBAL HIGH-RESOLUTION PRECIPITATION" data-fancybox-group="gallery"
                                        class="hover-wrap fancybox">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img alt="Comparing global precipitation in multiple high- vs low-resolution climate models reveals an increase of precipitation over orography, storm tracks entrance regions, river basins in South America, and the Sahel, with a precipitation decrease over the Maritime Continent."
                                        src="{{ site.baseurl }}/assets/media/uploads/Figures/model_ensemble_hr-lr_total_precip_annual.jpg">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li data-type="icon" data-id="id-1" class="item-thumbs col-lg-3 design">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a href="{{ site.baseurl }}/assets/media/uploads/Figures/zonal_mean_95.0_xprecip_djfm.png"
                                        title="EUROPEAN RAINFALL EXTREMES" data-fancybox-group="gallery"
                                        class="hover-wrap fancybox">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img alt="A large-scale pattern - wet north-western Europe and dry southern Europe - is reproduced by HadGEM3-GA3. However, the response of extreme precipitation between ~40-50°N to NAO phase is overestimated across the resolution hierarchy and the variability between 58-65°N is captured only at N512 resolution, likely due to its better representation of Norwegian topography."
                                        src="{{ site.baseurl }}/assets/media/uploads/Figures/zonal_mean_95.0_xprecip_djfm.png">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li data-type="icon" data-id="id-2" class="item-thumbs col-lg-3 design">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a href="{{ site.baseurl }}/assets/media/uploads/Homepage_images/plot.imapb.djf.png"
                                        title="EUROPEAN RAINFALL EXTREMES" data-fancybox-group="gallery"
                                        class="hover-wrap fancybox">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img alt="Increasing model resolution allows a better representation of statistical parameters that describe extreme winter rainfall events over large European river basins. At 25-km resloution, the typical magnitude (left column) and year-to-year variability (middle column) in extremes are better captured than at 130-km resolution."
                                        src="{{ site.baseurl }}/assets/media/uploads/Homepage_images/plot.imapb.djf.png">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li data-type="web" data-id="id-3" class="col-lg-3 design">
                                    <div class="item-thumbs">
                                        <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                        <a href="{{ site.baseurl }}/assets/media/uploads/Homepage_images/vellinga_2016_grl_fig3.png"
                                            title="SAHEL RAINFALL" data-fancybox-group="gallery"
                                            class="hover-wrap fancybox">
                                            <span class="overlay-img"></span>
                                            <span class="overlay-img-thumb font-icon-plus"></span>
                                        </a>
                                        <!-- Thumb Image and Description -->
                                        <img alt="Increasing model resolution allows a better coupling between large-scale circulation changes and regional rainfall processes over the Sahel. These results provide a strong basis for developing more reliable and skilful long-term predictions of rainfall (seasons to years) which could benefit many sectors in the region by allowing early adaptation to impending extremes."
                                            src="{{ site.baseurl }}/assets/media/uploads/Homepage_images/vellinga_2016_grl_fig3.png">
                                    </div>
                                </li>
                                <!-- End Item Project -->
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
